// Colors
// colors for use across theme.
// --------------------------------------------------

$black-middle = #333
$black-low    = #444
$green-ligth  = #fc6423

// Scaffolding
// Settings for some of the most global styles.
// --------------------------------------------------

// Global text color on <body>
$text-color                   = $grey

// Global link color.
$link-color                   = $grey


// Global border color.
$border-color                 = $grey-light

// Background color for <body>
$body-bg-color                = $black-middle

// Background color for <header>
$header-bg-color              = $black-low 
$header-brand-color           = $gainsboro
// $header-menu-hover-color      = $blue-bright

// Background color for <footer>
$footer-bg-color              = $black-low 

// Background color for <post title>
$post-title-color             = $gray-lighter
$post-title-link-before-color = $blue-bright

// <post tags title>
$post-tags-bg-color           = $black-low 
$post-tags-text-color         = $gray-lighter

// Pagination
// --------------------------------------------------
$pagination-active-bg         = $black-light

// selection
$selection-bg-color           = none
$selection-text-color         = $green-ligth //$blue-bright

// Font families
$font-family-base             = Monda, 'PingFang SC', 'Microsoft YaHei', sans-serif
