// Variables of Mala scheme
// =================================================

$font-size-headings-base = 26px

$site-meta-text-align    = left;
$posts-collpase-left     = 0

$footer-height           = 30px
